.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pk{
  display: flex;
  font-size: 20px;
  margin-left: 32px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.item-pk{
  margin-left: 30px;
  margin-top: 50px;
  display: flex;
}

.search-title{
  padding: 1px 150px 1px 10px ;
  border: 1px solid grey;
  font-size: 25px;
  border-radius: 10px;
  margin-left: 10px;
}

.search-title:hover{
  background-color: rgb(212, 211, 211);
  color: #050505;
}
.img-poster{
  width:300px;
  height:400px;
  margin:50px;
  /* display: flex; */
}
.main{
  display: flex;
}

.search-title1{
  border: none;
  text-align: center;
  margin-left: 10px;
}
.movieItem{
  background-Color:#a3c5b0;
   height:595px;
}
.seacrhBox{
  background-Color:#7693b5;
}
.box1{
   display:flex;
}


@media only screen and (max-width: 600px) {
  .seacrhBox {
    background-color: lightblue;
    width: 100%;
    height: 100px;
    display: block;
  }
  .search-title1{
    display: none;
    padding: 1px 24px 1px 10px;
    border: 1px solid grey;
    font-size: 19px;
    height: 55px;
    border-radius: 10px;
    margin-left: 0;
  }
  .box1{
    display: block;
  }
  .item-pk{
    margin-left: 30px;
    margin-top: 50px;
    display: block;
  }
  .movieItem {
    background-Color: #4b0c0a;
    height: 120vh;
}
.pk{
  color: #fff;
}
}
